$nav: #343a40;
.cabecalho{
	/*border-top: 2px solid green;*/
	background: $nav;
	height:60px;
	a{
		color: #dcdcdc !important;
		font-family: 'Roboto', sans-serif !important;
		&:hover{
			color: #fff !important;
			text-decoration: none;
		}
	}
	position: fixed !important;
	z-index: 9999;
	width: 100%;
	.drop{
		.dropdown-menu{
			background: #000;
			a{
				background:none;
				&:hover{
					background: $nav;
				}
			}
		}
	}
	a{
		width: 150px;
		text-align:center;
		@media screen and (max-width: 992px) {
			text-align:center;
		}
	}
	.mr-auto{
		width:100%;
		justify-content: center;
		align-items: center;
		
	}
	@media screen and (max-width: 992px) {
		.navbar-nav{
			width:100%;
			justify-content: center;
			align-items: center;
		}
	}
}

.MenuAtivo{
	background: #dcdcdc30;
	border-radius: 5px;
	
}