$nav: #fff;
$cor_hover: #f2baae;
.cabecalho{
	/*border-top: 2px solid green;*/
	background: $nav;
	height:50px;
	a{
		color: #000 !important;
		font-family: 'Playfair Display', serif !important;
		/*text-transform: uppercase;*/
		&:hover{
			color: #780c1c !important;
			text-decoration: none;
		}
	}
	.home{
		margin-left: 20px;
		letter-spacing: 0.431em;
	}
	position: fixed !important;
	z-index: 9999;
	width: 100%;
	.drop{
		.dropdown-menu{
			background: #fff;
			a{
				background:none;
				&:hover{
					background: $cor_hover;
				}
			}
		}
	}
	a{
		width: 150px;
		text-align:center;
		@media screen and (max-width: 992px) {
			text-align:center;
		}
	}
	.mr-auto{
		width:100%;
		justify-content: center;
		align-items: center;
		
	}
	@media screen and (max-width: 992px) {
		.navbar-nav{
			width:100%;
			justify-content: center;
			align-items: center;
		}
	}
}

.MenuAtivo{
	background: #dcdcdc30;
	border-radius: 5px;
	
}