@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.fundo{
	background: #000;
	min-height: 700px;
}
.conteudo{
	/*background: #fff;*/
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	min-height: 700px;
	height: auto;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}